VITE_SUPABASE_URL=https://iceblexwwyccfrqxxwjq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImljZWJsZXh3d3ljY2ZycXh4d2pxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAyNjYxODYsImV4cCI6MjEwNTg0MjE4Nn0.PRPH37WsFIFPBpF3TVwQ5fXJboXj4UigryRagAiVjGk
VITE_ADMIN_EMAIL=taranjeetap82@gmail.com
